<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3310/averni</property>
		<property name="hibernate.connection.username">averni</property>
		<property name="hibernate.connection.password">seidokan</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- JDBC connection pool (use the built-in) -->
		<!-- <property name="connection.pool_size">1</property> -->

		<!-- C3P0 Stuff -->
		<property name="hibernate.c3p0.acquire_increment">3</property>
		<property name="hibernate.c3p0.idle_test_period">1800</property>
		<property name="hibernate.c3p0.timeout">30</property>
		<property name="hibernate.c3p0.max_size">15</property>
		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.cache.use_query_cache">false</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<mapping resource="Symbol.hbm.xml" />
		<mapping resource="Price.hbm.xml" />
		<mapping resource="Signal.hbm.xml" />
	</session-factory>
</hibernate-configuration>
